.movies-cart {
  display: flex;
  align-items: center;
  padding-bottom: 0.7rem;
  border-bottom: 0.3px solid;
  width: 60%;
}

.movie-cart {
  display: flex;
  align-items: center;
  background-color: hsl(0, 1%, 23%);
  opacity: 0.9;
  height: 230px;
  margin-left: 1rem;
  padding: 1rem;
}

.movies-cart > img {
  width: 20%;
  height: 20%;
  border-radius: 15px;
}
.movie-cart--details {
  color: #f3f3f3fa;
  position: relative;
}

.movie-cart--details > p {
  font-size: 16px;
}
