.ShowModal {
  position: absolute;

  transform: translate(-50%, -50%);
  background-color: rgb(33, 32, 32);
  font-size: 14px;
  padding: 2rem;
  opacity: 80%;
  z-index: 100;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
}

.title > span {
  font-weight: 400;
}

.cart {
  color: yellow;
}
